{% extends 'app/base.html' %}

{% load static %}


{% block content %}
  {% if validlink %}
  <form method="POST" class="form-signin">
      {% csrf_token %}
      <div class="form-group">

      <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>

      <input type="password" name="new_password1" class="form-control" placeholder="New Password" required id="id_new_password1">
      {% for field in form %}
      <font style="color:white">{{ field.help_text }}</font>
      {% endfor %}

      <input type="password" name="new_password2" class="form-control" placeholder="New Password Again" required id="id_new_password2">
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
      {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
      </div>
    </form>
  {% else %}

  <div class="messages">
      <div class="d-flex flex-column">
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      </div>
  </div>
  {% endif %}
{% endblock %}