{% extends 'app/base.html' %}
{% load static %}


{% block content %}

<section class="pass-res" style="background-color: #eaeaea; padding-bottom: 10px;">
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="text-align: center">
                <form method="POST" class="form-signin">
                {% csrf_token %}
                <div class="form-group">
                    <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
                    <input name="email" class="form-control" placeholder="Enter your registered email" type="email" required="True">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>

</section>





{% endblock %}