@media only screen and (max-device-width: 1200px) {
    
    
    .mobile-nav {display: inline-block;}
    
    .main-nav {
        display: none;
        float: left;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
    }
    
    .dropdown-menu {
        position: relative !important;
    }
    
    .dropdown-menu li a{
    /*text-align: center !important;*/
    }
    
    .course-page-header h1 {text-align: center;}
    
}


@media only screen and (max-device-width: 1023px) {
    .carousel-caption h4{
        font-size: 95%;
    }
    }


@media only screen and (max-device-width: 767px) {
    
    }


@media only screen and (max-device-width: 480px) {
    .acknowledgement img{
        margin-bottom: 5px;
    }
    .youtube-video h2{
        margin-top: 10px;
    }
    .testimonials img{
        margin-bottom: 5px;
    }
    .courses {
        /*homepage courses section*/
        background-position: top;
    }
    .row-carousel{
        margin-top: 1px;
    }
    
    .carousel-caption h4{
        font-size: 52%;
    }
    
    .carousel-caption a{
        font-size: 50%;
    }
    
    .carousel-indicators li,
    .carousel-indicators li:active{
        width: 7px !important;
        height: 7px !important;
        margin: 0 !important;
    }
    
    .carousel-heading {
        font-size: 70%;
    }
    
    .carousel-para {
        font-size: 50%;
    }
    
    #topBtn {
        bottom: 10px; 
        right: 15px;
        font-size: 100%;
        padding: 10px;
    }
    
    .social-footer{
    padding: 10px;
    font-size: 15px !important;
    }
    
    .section-courses h2{
        font-size: 270%;
    }
    
    hr.inst {
        margin-top: 0;  
    }
    
    .inst-details h2,
    .inst-details h3{
        text-align: center;
    }
    
    .certification img{
        width: 80%;
    }
    
    .pilot_list table{
        font-size: 50%;
    }
    }