@charset "utf-8";
/* CSS Document */

/* theme color: #283B62 (blue)  #ff6830 (orange)*/

.* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

body {
	background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)), url("/static/images/Homepage/bg-drone.jpg");
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
}



.row{
	
}


/* ====================================== HEADINGS ==================================== */

.h3 {
    
}

/* ====================================== TOP HEADER ==================================== */

.top-header{
	padding: 5px;
	background: #283B62;
	color: white;
}

.top-header ul{
	margin: 0px;
}

.top-header li{
	list-style-type: none;
	display: inline;
	padding: 10px;
}

.left-header{
	float: left;
	margin: 0px;
}

.right-header{
	float: right;
	margin: 0px;
}

.fa {
  /*padding: 10px;*/
  	font-size: 8px;
  	width: 10px;
  	text-align: center;
  	text-decoration: none;
  	margin: 0px 2px;
		
}

.fa:hover {
    opacity: 0.7;
}

.clear{
	clear: both;
}

/* ====================================== NAVBAR ==================================== */
.navbar{
    margin-bottom: 5px !important;
}

.navbarr {
    background-color: #fff;
}

.icon-bar{
	background-color: #283B62;
}

.img{
	vertical-align: middle;
	border-style: none;
}

.logo-img{
    height: 70px;
    width: auto;
    float: left;
    /*margin-right: 10px;*/
    margin-top: 5px;
}

.main-nav {
    float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
    margin-top: 30px !important;
}

.main-nav li {
    display: inline-block; 
    margin-left: 5px;
    margin-right: 5px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 2px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #ff6830;
}

.mobile-nav {
    float: right;
    margin-top: 30px;
    display: none;
}

.mobile-nav span{
    color: black;
}

.dropdown-menu-center {
    right: auto;
    left: 50% !important;
    transform: translate(-50%, 0);
}

.dropdown-menu li {
    display: table;
    margin: 0 auto;
}

.main-nav li:hover > ul.dropdown-menu {
    display: table;
}

.dropdown-menu li a {
    background-color: #fff !important;
    padding: auto 2px !important;
    
}

/* sticky nav*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* ======================================== CAROUSEL =============================== */

.row-carousel {
    position: relative;
    z-index: 100;
}

.img-carousel{
	width: 120%;
	align-content: center;
}

.btn:link,
.btn:visited {
    padding: 5px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-carousel:link,
.btn-carousel:visited {
    background-color: #283B62;
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: #ff6830;
    color: #fff;
}

.btn-carousel:hover,
.btn-carousel:active {
    border: 1px solid #fff;
}
.trickcenter {
    left: 0 !important;
    right: 0 !important;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.absolute-div {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

.trickcenter h3 {
    /*display:table-cell;*/
    vertical-align: middle !important;
    text-align:center;
    color: black;
}

.item {
    position:relative;
}
/* ======================================== BODY SECTIONS =============================== */

.domp-promo {
    background-color: #ecf0f1;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.domp-promo h2,
.domp-promo h3{
    color: white;
    
}
.domp-promo h3{
    background-color: #e67e22;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-top: 5px;
    display: inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 220%;
    
}
.domp-promo h2{
    background-color: #e74c3c;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.5px;
    display: inline;
    font-size: 250%;
    
}
.acknowledgement{
    /*background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("/static/images/Homepage/bg-drone2.jpg");*/
    background-position: center;
    
}

.acknowledgement h2 {
    font-weight: bold;
    font-size: 220%;
    color: #fff;
    
}

.youtube-video {
    margin: 10px auto;
    /*background-color: #e8e8e8e8;*/
}
.youtube-video h2{
    color: black; 
    margin-top: 0; 
    padding-top: 15px
}

.iid-highlights {
    background-color: #283B62;
    background-position: center;
    background-size: cover;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

.highlight {
    display: flex;
}

.highlight-inner {
    margin: 25px auto;
}

.highlight-inner span,
.highlight-inner p{
    color: #fff;
}

.testimonials {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("/static/images/Homepage/bg-drone1.jpg");
    background-position: center;
    background-size: cover;*/
}

.organizations-trained {
    background-color: #283B62;
}

.courses {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/static/images/Homepage/courses-bg.jpg");
    /*background-image: url("/static/images/Homepage/courses-bg.jpg");*/
    background-position: center;
}

.course-header {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.faqs {
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("/static/images/Homepage/faqs-bg.jpg");
    /*background-image: url("/static/images/Homepage/faqs-bg.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
}

.ques,
.ans{
    text-align: center;
}

.ques {
    font-size: 180%;
    font-weight: bold;
    margin: 10px auto;
}

.ans {
    font-size: 120%;
    margin-bottom: 20px;
}

.section-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-header h2{
    margin: 5px auto;
}

.benefits {
    background-color: rgba(255, 255, 255, 0.85);
}

.benefits-text {
    text-align: center;
}
/* ======================================== FOOTER =============================== */

#topBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #000000; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 5px; 
  font-size: 250%; 
}

#topBtn:hover {
  background-color: #ff6830; 
}

.main-footer {
    background-color: #283B62;
    padding: 20px;
    color: white;
}

.img-footer {
    padding-bottom: 0px;
    width: 40%;
    height: auto;
}

.social-footer{
    padding: 15px;
    font-size: 25px !important;
}

.main-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-footer ul li a:link,
.main-footer ul li a:visited{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.main-footer ul li a:hover,
.main-footer ul li a:active{
   text-decoration: none;
    color: #ff6830;
}

.sub-footer h4{
    font-weight: bold;
    font-size: 150%;
}

.sub-footer li{
    padding: 4px;
    font-size: 110%;
}

.footer-copyright{
	padding-top: 20px;
    text-align: center;
}

.contacts li{
    padding: 8px;
}
/* ======================================================================= */

                           /* COURSES*/

/* ======================================================================= */

.section-courses {
    /*background-image: url("/static/images/courses-page-bg.jpg");*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.4)), url("/static/images/courses-page-bg.jpg");
    background-position: center;
    background-size: cover;
}

.section-courses h2{
    background-image: linear-gradient(rgba(40, 59, 98, 0.7), rgba(23, 39, 74, 0.9));
    font-size: 250%;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

.course-box {
    background-color: #fff;
    border-radius: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.course-box ul{
    list-style-type: none;
    padding: 0;
}

.course-box ul li{
    padding: 5px 0;
}

.course-box span{
    font-size: 80%;
    padding-right: 5px;
    color: #283B62;
}

.course-box h3 {
    font-size: 100%;
    /*text-transform: uppercase;*/
    font-weight: bold;
    text-align: center;
}

.course-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.course-box div:last-child{
    text-align: center;
    border-bottom: 0;
}

.course-price {
    font-size: 200%;
    color: #283B62;
    margin-bottom: 0;
    text-align: center;
}

/* ======================================================================= */

                           /* ABOUT US*/

/* ======================================================================= */

.about-us {
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-text {
    color: black;
    text-indent: 70px;
    text-align: justify;
    font-weight: 500;
    font-size: 120%;
}

.about-us p {
    margin: 0;
}

.vision, .mission {
    font-weight: 500;
    font-size: 120%;
}

.vision h2, .mission h2 {
    font-weight: bold;
}

.mission li {
    padding: 5px;
}
/* ======================================================================= */

                           /* GALLERY*/

/* ======================================================================= */

.galleryModal {
    /*width: 1500px;*/
    max-width: 100%;
    max-height: 100%;
}

.galleryImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.galleryImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.gclose {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.gclose:hover,
.gclose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* ======================================================================= */

                           /* INSTRUCTORS*/

/* ======================================================================= */

.inst-details{
    padding-top: 10px;
    padding-bottom: 10px;
}

.inst-details h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.inst-img {
    text-align: center;
}

.inst-img img {
    width: 65%;
    height: auto;
    
}

/* ======================================================================= */

                           /* DGCA*/

/* ======================================================================= */

.dgca-excerpt p{
    font-weight: 400;
    font-size: 110%;
    line-height: 1.8;
}

/* ======================================================================= */

                           /* CERTIFICATION*/

/* ======================================================================= */

.certification {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.certification img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60%;
    border: 1px solid;
}

.certification p{
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
/* ======================================================================= */

                           /* PILOT LIST*/

/* ======================================================================= */



/* ======================================================================= */

                           /* CONTACT US*/

/* ======================================================================= */

.contact-page {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.univ-header {
    background: #283B62;
    color: #fff;
    text-align: center;
}

.univ-header h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
    margin: 0;
}

.add-info {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-form-submit {
	background-color: #283B62;
	color: white;
}

/* ======================================================================= */

                           /* ORDER SUMMARY*/

/* ======================================================================= */

.cart-page-header {
    background: #283B62;
    color: #fff;
}

.cart-page-header h1 {
    margin: 40px auto;
}

.order-summary {
    background-color: #ffffff;
}

.order-table {
    margin: 40px auto !important;
}

/* ======================================================================= */

                           /* CHECKOUT PAGE*/

/* ======================================================================= */

.checkout-section {
    margin: 30px auto;
}

/* ======================================================================= */

                           /* MY ACCOUNT */

/* ======================================================================= */

.my-profile {
    /*margin: 10px;*/
}

.profile-image{
    vertical-align: middle;
    width: 300px;
    height: auto;
    border-radius: 5px;
}

/* ======================================================================= */

                           /* MY COURSES */

/* ======================================================================= */

.my-courses {
    background-color: rgba(255, 105, 38, 0.6);
}

.mycourselist {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* ======================================================================= */

                           /* LESSON LIST */

/* ======================================================================= */

.video-lecture {
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.img-container {
    float:left;
    position:relative;
}

.img-container:hover {
    opacity: 0.5;
    cursor: pointer;
}

.img-container:hover .play{
    display:block;
}

.play {
    position : absolute;
    display:none;
    top: 40px;
    width:auto;
    margin:0 auto; 
    left:0px;
    right:0px;
    z-index:100;
    text-align: center;
}

.play span{
    font-size: 300%;
}
/* ========================== UNCLASSIFIED ============================ */

.form-f1 {
	background: #FFFFFF;
}

.form-signin {
width: 100%;
/*max-width: 330px;*/
}

.form-signin .checkbox {
font-weight: 400;
}

.form-signin .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}

.form-signin .form-control:focus {
z-index: 2;
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
} 
