{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}
<title>Contact Us - Indian Institute of Drones | Drone Training Institutes in India</title>
<meta name="description" content="Indian Institute of Drones specializes in training Professionals and Drone Technology enthusiasts, who have the willingness to learn the art of flying drones to carry out UAV piloting and operations.">
<meta name="keywords" content="drone pilot training, drone training in india, drone training in noida,drone training in chennai,drone training in andhra pradesh,drone training in hyderabad,drone training in bangalore,drone training in gujarat,drone training in sharjah,drone training in bangladesh">

<style>
    .cont-col{
        padding: 5px 0px!important;
    }
    .add-info {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .add-content{color: #000;}
    .contact-form-submit {
        background-color: #283B62;
        color: white;
    }
    
    .cont-hr {
        display: none;
    }
    
    @media only screen and (max-device-width: 480px) {
        .cont-hr {
            display: block;
        }
        
    }
        
    @media only screen and (min-device-width: 768px) {
        .add-info iframe{
            width: 150px;
            height: 250px;
        }
    }
    
    @media only screen and (min-device-width: 1024px) {
        .add-info iframe{
            width: 250px;
            height: 250px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid univ-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>OUR TRAINING CENTERS</h1>
            </div>
        </div>
    </div>
</div>

<section class="contact-page">
    <div class="container-fluid">
        <div class="container">
            <div class="row add-info">
                <div class="col-sm-3 text-center cont-col">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d875.772756031034!2d77.37782182920341!3d28.597045998901972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDM1JzQ5LjQiTiA3N8KwMjInNDIuMSJF!5e0!3m2!1sen!2sin!4v1597822841627!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row1-text">
                        <div class="add-info-row1-text add-content">
                            <h4><b>NOIDA</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                WP - 11, Pocket C,  Near Sapphire International School,
                                Noida, Uttar Pradesh - 201307<br><br>
                                <span class="glyphicon glyphicon-phone"></span>
                                <a href="tel:+91 - 8074611720">+91 - 8074611720 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:contact@johnnette.in">  contact@johnnette.in</a>
                            </p>
                        </div>
                    </div>
                    <hr class="cont-hr">
                </div>
                <div class="col-sm-3 text-center cont-col">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.447623784293!2d80.2147904146686!3d12.87891329091674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525b57cce6fcbd%3A0xcb994e3e6ee24462!2sIndian%20Institute%20of%20Drones!5e0!3m2!1sen!2sin!4v1588506277226!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row1-text">
                        <div class="add-info-row1-text add-content">
                            <h4><b>CHENNAI</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                Nest Arpana Block - 3, S1 Plot no. 331A,
                                Sri Alamelumangapuram Colony, Part - 3
                                Sholinganallur, Chennai - 600119<br><br>
                                <span class="glyphicon glyphicon-phone"></span>
                                <a href="tel:+91 - 8074611720">+91 - 8074611720 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:rm@johnnette.in">  rm@johnnette.in</a>
                            </p>
                        </div>
                    </div>
                    <hr class="cont-hr">
                </div>
            </div>

            <div class="row add-info">
                <div class="col-sm-3 text-center cont-col" style="">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3842.7005886201796!2d79.60635861470189!3d15.607637989167499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4ad974fba0ddf3%3A0x1245031a9b28e42d!2sIndian%20Institute%20of%20Drones!5e0!3m2!1sen!2sin!4v1588506576018!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row2-text">
                        <div class="add-info-row2-text add-content">
                            <h4><b>PODILI</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                12-2-37, Near BSNL office Podili, Podili Mandal,
                                Dist- Prakasam, Andhra Pradesh - 523240<br><br>
                                <span class="glyphicon glyphicon-phone"></span>
                                <a href="tel:+91 - 8074611720">+91 - 8074611720 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:rm@johnnette.in">  rm@johnnette.in</a>
                            </p>
                        </div>
                        <hr class="cont-hr">
                    </div>
                </div>
                <div class="col-sm-3 text-center cont-col">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.9674326388963!2d77.51936631467031!3d13.037744990812437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d26a8eae007%3A0x6c061aa7c28ca490!2sGPS%20Institute%20Of%20Agricultural%20Management!5e0!3m2!1sen!2sin!4v1588506773627!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row2-text">
                        <div class="add-info-row2-text add-content">
                            <h4><b>BENGALURU</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                C/O GPS Institute of Agriculture Management
                                #1, Techno Industrial complex, Peenya Industrial estate, Peenya 1st stage, Bengaluru - 560058<br><br>
                                <span class="glyphicon glyphicon-phone"></span>
                                <a href="tel:+91 - 8074611720">+91 - 8074611720 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                            </p>
                        </div>
                    </div>
                    <hr class="cont-hr">
                </div>
            </div>

            <div class="row add-info">
                <div class="col-sm-3 text-center cont-col">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3706.767331557257!2d72.99853991479904!3d21.711758285632357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be021aaafef8e31%3A0x3212887ad4c9e46f!2sIndian%20Institute%20of%20Drones!5e0!3m2!1sen!2sin!4v1588507044447!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row2-text">
                        <div class="add-info-row2-text add-content">
                            <h4><b>GUJARAT</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                FF-4, Paradise Complex,
                                Opp. SVMIT College,
                                Old NH No.08, Above Hotel Dew Drop,
                                Bharuch-392001<br><br>
                                <span class="glyphicon glyphicon-phone"></span>
                                <a href="tel:+91 - 9484777747">+91 - 9484777747 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:iidgujarat@gmail.com"> iidgujarat@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <hr class="cont-hr">
                </div>
                <div class="col-sm-3 text-center cont-col">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d400.1792642595776!2d78.45093886628587!3d17.40371257371865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb973fea70c9a9%3A0x38b30946a424def4!2sPatels%20Residency!5e0!3m2!1sen!2sin!4v1588507291468!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe></center>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row2-text">
                        <div class="add-info-row2-text add-content">
                            <h4><b>HYDERABAD</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                C/O Drone World Technologies Pvt Ltd
                                No-502,Patel Residency,Masab Tank
                                Hyderabad-500028<br><br>
                                <span class="glyphicon glyphicon-phone"></span>
                                <a href="tel:+91 - 8074611720">+91 - 9381794064 /  </a>
                                <a href="tel:+91 - 8555949055"> 8555949055 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                            </p>
                        </div>
                    </div>
                    <hr class="cont-hr">
                </div>
            </div>

            <div id="contact-main" class="row add-info">
                <div class="col-sm-3 text-center cont-col">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.912459820342!2d56.28020181486607!3d25.104824483939225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef4ff335c2da69f%3A0xf084cbd0f3d96f46!2sMelaaha%20Drones!5e0!3m2!1sen!2sin!4v1588507645438!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe></center>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row2-text">
                        <div class="add-info-row2-text add-content">
                            <h4><b>UAE</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                C/O Melaaha Drones
                                AlHail Industrial  Area,
                                Block I, Plot 29, Fujairah, UAE<br><br>
                                <span class="glyphicon glyphicon-phone"></span>
                                <a href="tel:+971 50 667 6565">+971 50 667 6565 /</a>
                                <a href="tel:+91 - 8074611720">+91 8074611720 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                            </p>
                        </div>
                    </div>
                    <hr class="cont-hr">
                </div>
                <div class="col-sm-3 text-center cont-col">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.7162810237546!2d90.3740353149822!3d23.793115484568386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbbaa7ce8099d3e09!2sAIGEO!5e0!3m2!1sen!2sin!4v1599299508813!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
                </div>
                <div class="col-sm-3">
                    <div class="add-info-row2-text">
                        <div class="add-info-row2-text add-content">
                            <h4><b>BANGLADESH</b></h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                C/O AIGEO Center
                                987, East Shewrapara,
                                Mirpur, Dhaka 1216<br><br>
                                <span class="glyphicon glyphicon-phone"></span>

                                <a href="tel:+91 - 8074611720">+91 8074611720 </a>
                                <br>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:director@iiodrones.com"> director@iiodrones.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container pb-3" style="max-width: 700px">
            <div class="row py-3">
                <div class="col-sm-12 text-center">
                    <h2 class="py-2" style="font-size: 2.5rem">Get In Touch</h2>
                    <div class="contact-form-content">
                        <div class="contact-form-main">
                            <form method="POST" class="">
                            {% csrf_token %}
                            <div class="contact-form-fields">
                                <div class="row contact-field-row-1">
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.first_name}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row contact-field-row-2">
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.phone}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row contact-field-row-3">
                                    <div class="col-lg-12 colg-md-12 col-sm-12">
                                        <div class="form-group">
                                            {{form.query}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 colg-md-12 col-sm-12">
                                        <div class="form-group">
                                            {{form.captcha}}

                                            {% if form.errors %}
                                            <font color="red">
                                                <br>
                                                Invalid CAPTCHA
                                            </font>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>

                                <div class="row contact-field-row-3">
                                    <div class="col-lg-12 colg-md-12 col-sm-12">
                                        <div class="form-group">
                                            <font color="grey">
                                                {{form.captcha.help_text}}
                                            </font>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-success btn-block contact-form-submit">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}