{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}
<title>Frequently Asked Questions - Indian Institute of Drones | Drone Pilot Training</title>
<meta name="keywords" content="drone pilot courses, online drone courses, fixed wing drone pilot training, multirotor drone pilot training">
<meta name="description" content="FAQs about Drone Training. Indian Institute of Drones. Get Certified by Ex - UAV Military Instructors. Become a UAV Pilot.">
{% endblock %}

{% block content %}
<div class="container-fluid univ-header">
    <div class="container">
        <div class="row">
            <h1>FAQs</h1>
        </div>
    </div>
</div>

<section class="faq-page" style="background-color: rgba(232, 232, 232, 0.9);">
    <div class="container-fluid">
        <div class="container" style="background-color: #fff; padding: 30px; box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8);">
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>Who can do this training?</p>
                    </div>
                    <div class="ans">
                        <p>
                            Individuals who are seeking to complete their operators certificate and have already done the Private Pilots License (PPL) component. Also, Military personnel interested in obtaining training on Militray UAVs related to their respective Defence Force can take this training.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>
                            Who needs this training?
                        </p>
                    </div>
                    <div class="ans">
                        <p>
                            Professionals and Drone Technology enthusiast, who have the willingness to learn the art of flying drones to carryout UAV piloting and operations with great emphasis on safety and security issues.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>What do I bring on the day?</p>
                    </div>
                    <div class="ans">
                        <p>
                            As part of the pre training pack a list will be provided to you of what you should bring on the day. But in short you will need to bring your UAV & batteries (optional), hat, sunglasses (if you wear them).
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>Where do you conduct training?</p>
                    </div>
                    <div class="ans">
                        <p>
                            Indian Institute of Drones is a Training wing of Johnnette Technologies Pvt Ltd which is present in three different locations at Noida, Chennai, Podili having good connectivity.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>What do you do if the weather is bad?</p>
                    </div>
                    <div class="ans">
                        <p>
                            Our team will carry out the weather check, leading up to the day and communicate with students if we need to postpone or move the day.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>What qualifications does your instructors have?</p>
                    </div>
                    <div class="ans">
                        <p>
                            Our specialized staff is having many years’ experience in the full-size aviation industry, and have more than 100 hours of flying experience in the drone industry.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>What are the payment options for the course?</p>
                    </div>
                    <div class="ans">
                        <p>
                            You can pay the course fee through Cash, Cheque, NEFT or you can pay online on our website.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>Do you offer training on all types of UAV?</p>
                    </div>
                    <div class="ans">
                        <p>
                            IID offers training on all currently available flight controllers and UAVs. The airframe is irrelevant. So, if you have built your own UAV but are using any of the currently available flight controller then we can conduct training.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>What should I wear on the day?</p>
                    </div>
                    <div class="ans">
                        <p>
                            Dress according to the environment. Comfortable clothing is essential and closed toe shoes. A list of clothing requirements is sent out in the Pre-training pack.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>What is the refund policy if I change my mind?</p>
                    </div>
                    <div class="ans">
                        <p>
                            If cancelled before 72 hours of the training day, a refund minus an admin fee can be arranged.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>Can I buy drone equipment from IID?</p>
                    </div>
                    <div class="ans">
                        <p>
                            No, but we do have alliances with Johnnette Technologies who have their own products for Drones and Robots available for sale with special discounted rates on gear from affiliated businesses below normal retail rates
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ques">
                        <p>Are there any age restrictions?</p>
                    </div>
                    <div class="ans">
                        <p>
                            Yes. We currently offer training for individuals who are at least above 18 years of age.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}