{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}
<title>Infrastructure Gallery - Indian Institute of Drones | Drone Pilot Training</title>
<meta name="keywords" content="drone pilot courses, online drone courses, fixed wing drone pilot training, multirotor drone pilot training">
<meta name="description" content="Training Facility and Infrastructure at Indian Institute of Drones. Get Certified by Ex - UAV Military Instructors. Become a UAV Pilot.">
{% endblock %}

{% block content %}
<div class="container-fluid univ-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>INFRASTRUCTURE GALLERY</h1>
            </div>
        </div>
    </div>
</div>

<section class="infrastructure-gallery">
    <div class="container-fluid">
        <div class="container">
            <div class="row my-2">
                <div class="col-sm-6 my-2">
                    <div id="chennaiCarousel" class="carousel slide" data-ride="carousel">
                      <ul class="carousel-indicators">
                        <li data-target="#chennaiCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#chennaiCarousel" data-slide-to="1"></li>
                        <li data-target="#chennaiCarousel" data-slide-to="2"></li>
                        <li data-target="#chennaiCarousel" data-slide-to="3"></li>
                        <li data-target="#chennaiCarousel" data-slide-to="4"></li>
                      </ul>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static 'images/Infrastructure/Chennai/1.jpg' %}" alt="IID Centre in Chennai" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Chennai/2.jpg' %}" alt="IID Centre in Chennai" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Chennai/3.jpg' %}" alt="IID Centre in Chennai" width="100%">
                        </div>
                          
                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Chennai/4.jpg' %}" alt="IID Centre in Chennai" width="100%">
                        </div>
                          
                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Chennai/5.jpg' %}" alt="IID Centre in Chennai" width="100%">
                        </div>
                      </div>

                      <a class="carousel-control-prev" href="#chennaiCarousel" data-slide="prev">
                        <i class="fas fa-arrow-circle-left" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                      <a class="carousel-control-next" href="#chennaiCarousel" data-slide="next">
                        <i class="fas fa-arrow-circle-right" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                    </div>
                    <center><h1>Chennai</h1></center>
                    <hr>
                </div>
                
                <div class="col-sm-6 my-2">
                    <div id="noidaCarousel" class="carousel slide" data-ride="carousel">
                      <ul class="carousel-indicators">
                        <li data-target="#noidaCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#noidaCarousel" data-slide-to="1"></li>
                        <li data-target="#noidaCarousel" data-slide-to="2"></li>
                        <li data-target="#noidaCarousel" data-slide-to="3"></li>
                        <li data-target="#noidaCarousel" data-slide-to="4"></li>
                      </ul>

                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static 'images/Infrastructure/Noida/1.jpg' %}" alt="IID Centre in Noida" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Noida/2.jpg' %}" alt="IID Centre in Noida" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Noida/3.jpg' %}" alt="IID Centre in Noida" width="100%">
                        </div>
                          
                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Noida/4.jpg' %}" alt="IID Centre in Noida" width="100%">
                        </div>
                          
                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Noida/5.jpg' %}" alt="IID Centre in Noida" width="100%">
                        </div>
                      </div>

                      <a class="carousel-control-prev" href="#noidaCarousel" data-slide="prev">
                        <i class="fas fa-arrow-circle-left" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                      <a class="carousel-control-next" href="#noidaCarousel" data-slide="next">
                        <i class="fas fa-arrow-circle-right" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                    </div>
                    <center><h1>Noida</h1></center>
                    <hr>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row my-2">
                <div class="col-sm-6 my-2">
                    <div id="podiliCarousel" class="carousel slide" data-ride="carousel">
                      <ul class="carousel-indicators">
                        <li data-target="#podiliCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#podiliCarousel" data-slide-to="1"></li>
                        <li data-target="#podiliCarousel" data-slide-to="2"></li>
                        <li data-target="#podiliCarousel" data-slide-to="3"></li>
                      </ul>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static 'images/Infrastructure/Podili/1.jpg' %}" alt="IID Centre in Podili" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Podili/2.jpg' %}" alt="IID Centre in Podili" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Podili/3.jpg' %}" alt="IID Centre in Podili" width="100%">
                        </div>
                        
                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Podili/4.jpg' %}" alt="IID Centre in Podili" width="100%">
                        </div>
                      </div>

                      <a class="carousel-control-prev" href="#podiliCarousel" data-slide="prev">
                        <i class="fas fa-arrow-circle-left" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                      <a class="carousel-control-next" href="#podiliCarousel" data-slide="next">
                        <i class="fas fa-arrow-circle-right" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                    </div>
                    <center><h1>Podili</h1></center>
                    <hr>
                </div>
                
                <div class="col-sm-6 my-2">
                    <div id="bengaluruCarousel" class="carousel slide" data-ride="carousel">
                      <ul class="carousel-indicators">
                        <li data-target="#podiliCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#podiliCarousel" data-slide-to="1"></li>
                        <li data-target="#podiliCarousel" data-slide-to="2"></li>
                        <li data-target="#podiliCarousel" data-slide-to="3"></li>
                        <li data-target="#podiliCarousel" data-slide-to="4"></li>
                      </ul>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static 'images/Infrastructure/Bengaluru/1.jpg' %}" alt="IID Centre in Bengaluru" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Bengaluru/2.jpg' %}" alt="IID Centre in Bengaluru" width="100%">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Bengaluru/3.jpg' %}" alt="IID Centre in Bengaluru" width="100%">
                        </div>
                        
                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Bengaluru/4.jpg' %}" alt="IID Centre in Bengaluru" width="100%">
                        </div>
                        
                        <div class="carousel-item">
                          <img src="{% static 'images/Infrastructure/Bengaluru/5.jpg' %}" alt="IID Centre in Bengaluru" width="100%">
                        </div>
                      </div>

                      <a class="carousel-control-prev" href="#bengaluruCarousel" data-slide="prev">
                        <i class="fas fa-arrow-circle-left" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                      <a class="carousel-control-next" href="#bengaluruCarousel" data-slide="next">
                        <i class="fas fa-arrow-circle-right" style="color: rgba(0, 0, 0, 0.5);"></i>
                      </a>
                    </div>
                    <center><h1>Bengaluru</h1></center>
                    <hr>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}