{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}
<title>News and Events - Indian Institute of Drones | IID Drone Pilot Training</title>
<meta name="keywords" content="IID Trained DGCA, DGCA Training, FTO Training by IID, FTO Training, IID in News,">
<meta name="description" content="Indian Institute of Drones covered in News and Media. Check out latest events and news related to Indian Institute of Drones">

<style>
    .row-card{
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 1px 0.5rem 1rem rgba(0, 0, 0, 0.8);
        background-color: rgba(40, 59, 98, 0.9);
    }
    .row-card .arimg{
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
    }
    .card-content{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ardate{
        color: #fff;
        font-weight: bold;
    }
    .card-content a{
        color: #ff6830;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    .card-content a:hover{color: #fff;}
    .arexc{
        text-align: justify;
        color: #fff;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid univ-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>WE ARE IN NEWS</h1>
            </div>
        </div>
    </div>
</div>

<section class="news-events" style="background-color: rgba(255, 255, 255, 0.8);">
    <div class="container-fluid">
        <div class="container" style="">
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 11.jpg' %}" width="100%" height="auto" alt="IID Featured in Digit India">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">23 May 2020</p>
                    <a rel="noreferrer" target="_blank" title="IID Featured in Digit India" href="https://www.digit.in/features/tech/digit-mag-how-to-become-a-drone-pilot-skills-qualifications-and-education-needed-54093.html">HOW TO BECOME A DRONE PILOT? SKILLS, QUALIFICATIONS AND EDUCATION NEEDED</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        There’s no dearth of drone piloting training schools in India. The most prominent of the lot is the <b>Indian Institute of Drones</b> which offers a total of four courses (1, 3, 5 and 7-day courses) in 6 cities across India and 2 more abroad. Unfortunately, the platform seems to seriously be lacking when it comes to flight instructors, with only 11 at the present. However, the site claims that all their instructors are Ex-military certified instructors and they also claimed to have trained over 1450 individuals.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 10.jpg' %}" width="100%" height="auto" alt="IID Featured in sUAS News">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">12 February 2020</p>
                    <a rel="noreferrer" target="_blank" title="IID Featured in sUAS News" href="https://www.suasnews.com/2020/02/rpas-2020-india/">RPAS 2020 – India</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        The Indian Institute of Drones (IID), International Foundation for Aviation, Aerospace & Drones (IFFAAD) and India International Center (IIC) had organized a National Conference by the name of RPAS 2020 – Impact of Drone Regulations on Indigenous Drone Industry, on 30th January 2020 at India International Center, New Delhi.<br>
                        The Speakers at this conference were Lt. Cdr John Livingstone – Founder & Executive Director – Indian Institute of Drones & Founder CEO – Johnnette Technologies who spoke on the topic “Impact of Civil Aviation Requirements on Drone Management & Operations in India.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 9.jpg' %}" width="100%" height="auto" alt="IID Featured in AnalyticsIndiaMag">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">26/02/2019</p>
                    <a rel="noreferrer" target="_blank" title="IID Featured in AnalyticsIndiaMag" href="https://analyticsindiamag.com/top-5-drone-pilot-training-institutes-in-india/">Top 5 Drone Pilot Training Institutes In India</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        The Indian Institute of Drones is a Government registered training institute that specialises in training professional pilots and aerospace engineers to learn the art of flying drones to carry out the Unmanned Aerial Vehicle (UAV) piloting, operations with great emphasis on safety and security issues. The training will be provided by highly qualified professionals who have unmanned flying experience as well as manned flying experience. Some of the UAV operators are from the military background like Indian Air Force, The Indian Navy, etc.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 8.jpg' %}" width="100%" height="auto" alt="Indian Institute of Drones Awareness Campaign on Drone Technologies, at NCC Air-Wing">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">July 29, 2019</p>
                    <a rel="noreferrer" target="_blank" title="Indian Institute of Drones Awareness Campaign on Drone Technologies, at NCC Air-Wing" href="https://www.suasnews.com/2019/07/indian-institute-of-drones-awareness-campaign-on-drone-technologies-at-ncc-air-wing/">Indian Institute of Drones Awareness Campaign on Drone Technologies, at NCC Air-Wing</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        The Indian Institute of Drones has organized an Awareness Campaign on Drone Technologies, on 22nd July 2019 at NCC Air Wing, Safdarjung Enclave, New Delhi, India. Our Founder & Executive Director Lt Cdr John Livingstone (Retd.) had an interactive Seminar on Drone Technologies with the audience which comprised of cadets and staff of NCC Air-Wing Unit.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 7.jpg' %}" width="100%" height="auto" alt="Founder, CEO & Product Architect John Livingstone Latest Interview at CNBC Awaz: Volocoptors">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">June 13, 2019</p>
                    <a rel="noreferrer" target="_blank" title="Founder, CEO & Product Architect John Livingstone Latest Interview at CNBC Awaz: Volocoptors" href="https://youtu.be/kkKz3qjxkkI">Founder, CEO & Product Architect John Livingstone Latest Interview at CNBC Awaz: Volocoptors</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        Lt Cdr John Livingstone, Founder , CEO & Product Architect of Johnnette Technologies and with other two were on discussing the Volocoptors usage in India and Regulations related to volocoptors for Flying in Indian Airspace...
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 6.jpg' %}" width="100%" height="auto" alt="Multirotor Drone Pilot training By IID to all FTOs in India Organised by DGCA">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">December 07, 2018</p>
                    <a rel="noreferrer" target="_blank" title="Multirotor Drone Pilot training By IID to all FTOs in India Organised by DGCA" href="https://www.suasnews.com/2018/12/multirotor-drone-pilot-training-by-iid-to-all-ftos-in-india-organised-by-dgca/">Multirotor Drone Pilot training By IID to all FTOs in India Organised by DGCA</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        Indian Institute of Drones has trained Multirotor drone pilots to all FTOs in India organized by DGCA. Training was conducted for 5 days, which covers all the topics as mentioned in DGCA regulations book.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 5.jpg' %}" width="100%" height="auto" alt="CEO & Founder John Livingstone Latest Interview at CNBC Awaz : National Drone Policy">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">August 28, 2018</p>
                    <a rel="noreferrer" target="_blank" title="CEO & Founder John Livingstone Latest Interview at CNBC Awaz : National Drone Policy" href="https://youtu.be/Cu3zA7dxrDY">CEO & Founder John Livingstone Latest Interview at CNBC Awaz : National Drone Policy</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        What's this item Flying commercial drones to be legal from December. India's top drone cos weigh in on the new National Drone Policy. Shereen Bhan speaks to Utkarsh Singh Co-founder & CEO at DronaMaps, John Livingstone, Founder of Johnnette Technologies and Vignesh Santhanam who is the CMO at Quidich and President of the Drone Federation Of India.about? What makes it interesting? Write a catchy description to grab your audience's attention...
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 4.jpg' %}" width="100%" height="auto" alt="IID Featured in The Print">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">August 17, 2018</p>
                    <a rel="noreferrer" target="_blank" title="IID Featured in The Print" href="https://theprint.in/governance/how-india-is-employing-drone-tech-from-fields-and-films-to-rail-and-mining/99288/">How India is employing drone tech — from fields and films to rail and mining</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        John Livingstone, a former Navy officer and trained drone pilot who runs Indian Institute of Drones in five locations, reports a 90% increase in enrollments in the past year. His 7-day course teaches students how to assemble and fly a drone. The company recently signed an agreement with the Engineering Council of India to train 1.5 lakh students in drone flying.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 3.jpg' %}" width="100%" height="auto" alt="CEO & Founder John Livingstone Latest Interview at CNBC">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">August 28, 2018</p>
                    <a rel="noreferrer" target="_blank" title="CEO & Founder John Livingstone Latest Interview at CNBC" href="https://www.cnbctv18.com/videos/aviation/india-gets-its-first-drone-policy-here-is-what-experts-have-to-say-647801.htm">CEO & Founder John Livingstone Latest Interview at CNBC Newsmaker: National Drone Policy</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        What's this item Flying commercial drones to be legal from December. India's top drone cos weigh in on the new National Drone Policy. Shereen Bhan speaks to Utkarsh Singh Co-founder & CEO at DronaMaps, John Livingstone, Founder of Johnnette Technologies and Vignesh Santhanam who is the CMO at Quidich and President of the Drone Federation Of India.about? What makes it interesting? Write a catchy description to grab your audience's attention...
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 2.jpg' %}" width="100%" height="auto" alt="IID Featured in Times of India">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">March 26, 2018</p>
                    <a rel="noreferrer" target="_blank" title="IID Featured in Times of India" href="https://timesofindia.indiatimes.com/india/drone-flying-till-now-just-a-hobby-takes-off-as-a-career/articleshow/63457469.cms">Drone-flying, till now just a hobby, takes off as a career</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        John Livingstone, a former Navy officer and trained drone pilot who runs Indian Institute of Drones in five locations, reports a 90% increase in enrollments in the past year. His 7-day course teaches students how to assemble and fly a drone. The company recently signed an agreement with the Engineering Council of India to train 1.5 lakh students in drone flying.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row row-card">
                <div class="col-md-4">
                    <img class="arimg" src="{% static 'images/News/article 1.jpg' %}" width="100%" height="auto" alt="IID Featured in Business World">
                </div>
                <div class="col-md-8 card-content">
                    <p class="ardate">June 29, 2017</p>
                    <a rel="noreferrer" target="_blank" title="IID Featured in Business World" href="http://bwdisrupt.businessworld.in/article/How-to-Tame-Your-Drone-7-Tips-to-Fly-a-Drone-and-Not-Kill-Anyone/29-06-2017-121107/">How to Tame Your Drone: 7 Tips to Fly a Drone and Not Kill Anyone</a>
                    <p class="arexc"><span style="font-weight: bold">"</span>
                        That’s why we have people from Colombia, Bangladesh, and some students even from Zimbabwe. India is known for low-cost high quality drone training,” said Founder CEO of Johnnette Technologies, Lt Cdr John Livingstone.
                        Johnnette Technologies is a busy hive of drone activity. The startup founded in 2010 lives and breathes unmanned aerial vehicles (UAV) and drones in specific. They have a magazine, an app, manufacturing plant, testing air fields all dedicated to drones. The company conducts drone pilot training through their Indian Institute of Drones. When you google the three magical words, ‘drone-training-India’, the Indian Institute of Drones is the first result to pop up, and has kept the whole company from going under.
                    <span style="font-weight: bold">"</span>
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>

{% endblock %}