{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}
<title>Satisfactory Letters - Indian Institute of Drones | Testimonials by Organizations for UAV Pilot Training</title>
<meta name="keywords" content="drone pilot courses, online drone courses, fixed wing drone pilot training, multirotor drone pilot training">
<meta name="description" content="Satisfactory Letter issued by Organizations trained by Indian Institute of Drones. Get Certified by Ex - UAV Military Instructors. Become a UAV Pilot.">
{% endblock %}

{% block content %}
<style>
    .text-header h4{
        text-align: center;
        color: #000;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .ltr-info{
        padding-bottom: 10px;
    }
    .hrr{
        border-bottom: 1px solid black;
    }
    @media only screen and (max-device-width: 768px) {
        .text-header h4{
            font-size: 1rem;
        }
    }
</style>

<div class="container-fluid univ-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>SATISFACTORY LETTERS</h1>
            </div>
        </div>
    </div>
</div>

<section class="sat-letters my-4">
    <div class="container-fluid">
        <div class="container">
            <div class="row ltr-info">
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> AIGEO, BANGLADESH
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img id="aigeo" class="" src="{% static 'images/Satisfactory Letters/AIGEO Bangladesh.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from AIGEO, Bangladesh">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> ARIES MARINE, U.A.E.
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Aries.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Aeries Marine, U.A.E">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> ASSAM RIFLES
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Assam Rifles.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Assam Rifles">
                    </div><hr class="hrr">
                </div>
            </div>
            
            <div class="row ltr-info">
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> COMPUTER PLUS
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Computer Plus.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Computer Plus">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> CSIR
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/CSIR.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from CSIR">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> GEOSPATIAL SOLUTIONS
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Geospatial Solutions.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Geospatial Solutions">
                    </div><hr class="hrr">
                </div>
            </div>
            
            <div class="row ltr-info">
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> HALDWANI ZOO SAFARI
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Haldwani Zoo.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Haldwani Zoo Safari">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> ICON SURVEYORS
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Icon Surveyors.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Icon Surveyors">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> IGC SERVICES
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/IGC.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from IGC Services">
                    </div><hr class="hrr">
                </div>
            </div>
            
            <div class="row ltr-info">
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> JVR LAND SURVEYS
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/JVR.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from JVR Land Surveys">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> KARUNYA INSTITUTE
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Karunya Institute.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Karunya Institute of Technology and Sciences">
                    </div><hr class="hrr">
                </div>
                
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> KAUTILYA INSTITUTE
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Kautilya.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Kautilya Institute of Technology and Engineering">
                    </div><hr class="hrr">
                </div>
            </div>
            
            <div class="row ltr-info">
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> MAKAIR
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/MAKAIR.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Artifical Intelligence and Robotics Pvt Ltd">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> FILMS DIVISION
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/MIB.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Films Divison, Ministry of Information and Broadcasting">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> MTRC (DRDO)
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/MTRDC DRDO.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from MTRC, DRDO">
                    </div><hr class="hrr">
                </div>
            </div>
            
            <div class="row ltr-info">
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> OCTOPUS (A.P. POLICE)
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/Octopus AP Police.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from Octopus, Andhra Pradesh Police">
                    </div><hr class="hrr">
                </div>
                
                <div class="col-sm-4 py-1">
                    <div class="text-header">
                        <h4>
                            SATISFACTORY LETTER FROM <br> OPGC (ODISHA)
                        </h4>
                    </div>
                    <div class="letter-image">
                        <img class="" src="{% static 'images/Satisfactory Letters/OPGC.jpg' %}" width="100%" alt="Satisfactory Letter for Drone Training Received from OPGC, Odisha">
                    </div><hr class="hrr">
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}



